extends layout

block content
  table(class="screen_wide")
    each resultId in resultIds ? resultIds : []
      tr(style={"height": "5vh"})
        td(class="tab_wide")
        td(class="tab_wide")
        td(class="tab_wide content_tab")
          a(href= "/single-result/"+resultId)= resultId
          br
    
        