extends layout

block content
  form(method="post", content-type="application/json")
    table(class="screen_wide")
      tr
        td(class="tab_wide")
        td(class="tab_wide content_tab")
          if message
            h5= message
          else
            table
              tr
                td Select a dataset:
                td(colspan="2")
                  select(name="dataset-name" required)
                    each dataset_name in dataset_names ? dataset_names : []
                      option(value=dataset_name)= dataset_name
              tr
                td(colspan="3") Select clustering method and parameters:
              tr
                td
                  input(type="radio", name="clustering-method", value="k-means", checked)
                  span K-Means
                td(colspan="2")
                  span K:
                  input(class="parameter_width" type="text", name="k-means-k", value=3)
              tr
                td 
                  input(type="radio", name="clustering-method", value="DBSCAN", checked)
                  span DBSCAN
                td
                  span Cluster Radius:
                  input(class="parameter_width" type="text", name="DBSCANclusterRadius", value=3)
                td
                  span Cluster Members:
                  input(class="parameter_width" type="text", name="DBSCANclusterMembers", value=3)
              tr
                td
                  input(type="radio", name="clustering-method", value="OPTIC", checked)
                  span Optic
                td
                  span Cluster Radius:
                  input(class="parameter_width" type="text", name="OPTICclusterRadius", value=0.3)
                td
                  span Cluster Members:
                  input(class="parameter_width" type="text", name="OPTICclusterMembers", value=4)
              tr
                td
                  input(type="submit", value="Submit")
        td(class="tab_wide")