doctype html
html
  head
    title Clustering Madness
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Clustering Madness
    h2 Cloud Computing, IDC, Final Project
    h3 Yaron Kaner, Gilad Levy
    table(style={"margin-bottom": "20px"})
      tr
        td
          a(href='upload-dataset') Upload a dataset
        td
          a(href='cluster-dataset', style={"margin-left": "20px"}) Cluster a dataset
        td
          a(href='view-results', style={"margin-left": "20px"}) View clustering results
    block content
