extends layout

block content
  h4 Upload a dataset
  form(method="post", enctype="multipart/form-data")
    if message
      h5= message
    else
      table
        tr
          td Local dataset file:
          td 
            input(type="file", name="dataset-file" required)
        tr
          td
            input(type="submit", value="Upload")